{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/list.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/list.css') }}" ></noscript>
{% endblock %}

{% block title %} {{ category.getPageTitle() is not null ? category.getPageTitle() : category.getName() ~ ' - Trang ' ~ pagination.currentPageNumber }} {% endblock %}
{% block description %} {{ category.getPageDescription() }} {% endblock %}
{% block keyword %} {{ category.getPageKeyword() }} {% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{ category.getPageTitle() is not null ? category.getPageTitle() : category.getName() ~ ' - Trang ' ~ pagination.currentPageNumber }}" />
    <meta property="og:description" content="{{ category.getPageDescription() }}" />
{% endblock %}

{% block body %}
    {# breadcrumbs #}
    {{ include('news/components/breadcrumbs.html.twig',
        { type: 'category', title: category.getName(), description: category.getDescription() })
    }}
    
    <div class="container wrapper-container page-list">
        <div class="row category-list-items">
            <div class="col-12 col-md-12 col-lg-12">
                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    {% if listCategories != NULL %}
                        <div class="list-news-category">
                            <div class="row">
                                {% for cat in listCategories %}
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <div class="category-item">
                                            <a href="{{ path('list_category', {'level1': category.getUrl(), 'level2': cat.getUrl() }) }}">{{ cat.getName() }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="list-news-items">
                        <div class="row">
                            {% for row in pagination %}
                                {{ include('news/components/itemsGrid.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    {{ include('news/components/noRecord.html.twig') }}
                {% endif %}
            </div>
        </div>
        
        {{ render(controller(
            'AppBundle:News:listNewsByCategory', { 'categoryId': 7 }
        )) }}
    </div>
{% endblock %}