{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container page page-detail">
        <div class="row">
            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
            
            <div class="col-12 col-md-12 col-lg-9">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news">
                    <h1 class="entry-title block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ post.getContents()|raw }}
                    </div>

                    {# Rating and Share #}
                    <div class="rating-share-container">
                        {{ include('news/rating/rating.html.twig') }}
                        {{ include('news/components/share.html.twig') }}
                    </div>

                    {# List comments #}
                    {{ include('news/comments/list.html.twig') }}
                    
                    {# Render form comment #}
                    {{ include('news/comments/form.html.twig') }}
                </article>
            </div>
        </div>
    </div>
{% endblock %}