{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
    <meta property="og:image" content="{{ vich_uploader_asset(post, 'imageFile') ? app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) : absolute_url(asset('assets/images/no-image.png')) }}" />
    <meta property="og:image:width" content="{{ imageSize[0] }}" />
    <meta property="og:image:height" content="{{ imageSize[1] }}" />
{% endblock %}

{% block twitterImage %}
    <meta property="twitter:image" content="{{ vich_uploader_asset(post, 'imageFile') ? app.request.getUriForPath(vich_uploader_asset(post, 'imageFile')) : absolute_url(asset('assets/images/no-image.png')) }}" />
{% endblock %}

{% block structuredReview %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "CreativeWorkSeries",
        "name": "{{ post.getTitle() }}",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ rating }}",
            "ratingCount": "{{ ratingCount ? ratingCount : 1 }}",
            "bestRating" : "5",
            "worstRating": "1"
        }
    }
    </script>
{% endblock %}

{% block body %}
    <div class="container wrapper-container page-detail">
        <div class="row">
            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}

            <div class="col-12 col-md-12 col-lg-9 page-detail-container">
                {# breadcrumbs #}
                {{ include('news/components/breadcrumbs.html.twig') }}

                <article id="post-{{ post.getId() }}" class="news">
                    <h1 class="entry-title block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ post.getContents()|raw }}
                    </div>

                    {# List tags #}
                    {{ include('news/components/tags.html.twig') }}

                    {# Rating and Share #}
                    <div class="rating-share-container">
                        {{ include('news/rating/rating.html.twig') }}
                        {{ include('news/components/share.html.twig') }}
                    </div>

                    {# Related news #}
                    {{ include('news/components/related.html.twig') }}
                    
                    {# List comments #}
                    {{ include('news/comments/list.html.twig') }}
                    
                    {# Render form comment #}
                    {{ include('news/comments/form.html.twig') }}
                </article>
            </div>
        </div>
    </div>
{% endblock %}