{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungminhduy.com/",
        "logo": "https://xaydungminhduy.com/assets/images/SuaNhaMinhDuy.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 98 2969379",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungminhduy.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungminhduy.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Minh Duy",
        "url": "https://xaydungminhduy.com/",
        "sameAs": [
            "https://www.facebook.com/minhduyconstruction/",
            "https://twitter.com/xaydungminhduy",
            "https://www.linkedin.com/in/xaydungminhduy/",
            "https://plus.google.com/u/0/113879313630849593934",
            "https://www.youtube.com/channel/UCwYmkaoSIRgpZo2Us4FzleQ"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item slogin">
            <div class="container slogin-title">
                <div class="row">
                    <div class="col-12 col-md-9"><p>Bạn đang muốn thi công một dự án? Hãy liên hệ ngay với chúng tôi để được tư vấn miễn phí!</p></div>
                    <div class="col-12 col-md-3"><a href="tel:0974776305"> <i class="fa fa-phone" aria-hidden="true"></i> 0974776305</a></div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item prices-table">
            <div class="container">
                <div class="row marketing">
                    <div class="col-md-3 col-sm-3">
                        <div class="intro">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi-moi-nhat' }) }}" title="Báo giá xây nhà trọn gói mới nhất 2019">
                                        <div class="center-img">
                                            <img alt="Báo giá xây nhà trọn gói mới nhất 2019" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/01/xay-nha-tron-goi-phoi-canh.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi-moi-nhat' }) }}" title="Báo giá xây nhà trọn gói mới nhất 2019">Báo giá xây nhà trọn gói mới nhất 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="{{ path('news_show', {'slug': 'bao-gia-sua-chua-nha-moi-nhat' }) }}" title="Bảng giá sửa chữa nhà mới nhất 2019">
                                        <div class="center-img">
                                            <img alt="Bảng giá sửa chữa nhà mới nhất 2019" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/12/hhhhhhh-e1515675104748.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="{{ path('news_show', {'slug': 'bao-gia-sua-chua-nha-moi-nhat' }) }}" title="Bảng giá sửa chữa nhà mới nhất 2019">Bảng giá sửa chữa nhà mới nhất 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-phan-tho-moi-nhat' }) }}" title="Bảng giá xây dựng nhà phần thô">
                                        <div class="center-img">
                                            <img alt="Bảng giá xây dựng nhà phần thô" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/09/20170811_162451_resized.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="{{ path('news_show', {'slug': 'bang-bao-gia-xay-nha-phan-tho-moi-nhat' }) }}" title="Bảng giá xây dựng nhà phần thô">Bảng giá xây dựng nhà phần thô tại TP HCM</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="intro hover09">
                            <div class="img">
                                <div class="mid-img">
                                    <a href="{{ path('news_show', {'slug': 'bang-gia-thiet-ke-nha-pho-tai-tphcm' }) }}" title="Bảng giá thiết kế nhà phố tại TP HCM">
                                        <div class="center-img">
                                            <img alt="Bảng giá thiết kế nhà phố tại TP HCM" class="img-responsive" src="http://xaydungkimanh.com/wp-content/uploads/2017/06/gia-thiet-ke-nha-pho.jpg" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="{{ path('news_show', {'slug': 'bang-gia-thiet-ke-nha-pho-tai-tphcm' }) }}" title="Bảng giá thiết kế nhà phố tại TP HCM">Bảng giá thiết kế nhà phố tại TP HCM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item why-choose-us">
            <div class="container">
                <div class="row">
                    <h2 class="text-center text-uppercase why-choose-us-title">Tại sao chọn chúng tôi</h2>
                </div>
                <div class="row row-why-choose-us-1">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-globe"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Báo giá miễn phí, tận nơi</h2>
                                <div class="marketing-container">
                                    <p>Báo giá xây dựng miễn phí, nhanh chóng, tận nơi, làm việc 24/7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Giá cả xây dựng của chúng tôi hợp lý, rõ ràng từng vấn đề, cạnh tranh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-users"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Đội ngũ chuyên nghiệp</h2>
                                <div class="marketing-container">
                                    <p>Đội ngũ kiến trúc sư, kĩ sư, tổ thợ chuyên nghiệp, nhiều kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-why-choose-us-2">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-gem"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Cam kết bảo hành</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết bảo hành công trình thi công lâu dài</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-lightbulb-o"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Sáng tạo trong thiết kế</h2>
                                <div class="marketing-container">
                                    <p>Những kỹ sư thiết kế về kiến trúc và nội thất có kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-bullhorn"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Không phát sinh phí</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết không phát sinh phí trong quá trình xây dựng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
            {% if blockOnHomepage.category.getUrl() != 'du-an' %}
                <div class="wrapper-container-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-list-news-items">
                                <h1 class="text-center text-uppercase"><img alt="{{ blockOnHomepage.category.getName() }}" src="{{ asset('assets/images/icon-logo.png') }}" />{{ blockOnHomepage.category.getName() }}</h1>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="col-md-12 list-news-items">
                                <div class="row">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridHomepage.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row project-hot">
                        <div class="col-md-12 title-list-news-items">
                            <h1 class="text-center text-uppercase">Dự án nổi bật</h1>
                            <p>{{ blockOnHomepage.description }}</p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="list-news-items">
                            <div class="bxslider">
                                {% for row in blockOnHomepage.posts %}
                                    {{ include('news/components/itemsGridSlide.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}