{% extends 'layout.html.twig' %}

{% block body %}
<div class="ladi-wraper">
    <div id="SECTION2" class="ladi-section">
        <div class="ladi-section-background"></div>
        <div class="ladi-overlay"></div>
        <div class="ladi-container">
            <div id="GROUP8" class="ladi-element">
                <div class="ladi-group">
                    <div id="HEADLINE5" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION588">
                            <span>TRANG CHỦ</span>
                        </h3>
                    </div>
                    <div id="HEADLINE6" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION589">
                            <span>VỊ TRÍ</span>
                        </h3>
                    </div>
                    <div id="HEADLINE7" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION5891">
                            <span>MẶT BẰNG</span>
                        </h3>
                    </div>
                    <div id="HEADLINE7" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION5892">
                            <span>THIẾT KẾ</span>
                        </h3>
                    </div>
                </div>
            </div>
            <div id="GROUP9" class="ladi-element">
                <div class="ladi-group">
                    <div data-action="true" id="HEADLINE10" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION47">
                            <span>THANH TOÁN</span>
                        </h3>
                    </div>
                    <div data-action="true" id="HEADLINE10" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION55">
                            <span>TIỆN ÍCH</span>
                        </h3>
                    </div>
                    <div data-action="true" id="HEADLINE11" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition" data-id="SECTION55">
                            <span>CĂN HỘ MẪU</span>
                        </h3>
                    </div>
                    <a href="tel:0943613039" id="HEADLINE12" class="ladi-element">
                        <h3 class="ladi-headline ladi-transition do-click" data-id="SECTION46">
                            <span>LIÊN HỆ</span>
                        </h3>
                    </a>
                </div>
            </div>
            <div id="IMAGE260" class="ladi-element">
                <div class="ladi-image">
                    <div class="ladi-image-background">
                        <img src="{{ asset('assets/images/banner/1.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SECTION554" class="ladi-section">
        <div class="ladi-container container">
            <div class="ladi-element">
                <div class="ladi-image">
                    <img src="http://0palskyline.info/wp-content/uploads/2021/02/z2181231337656_c7c5072de9c19161f45144a427428294.jpg">
                </div>
            </div>
            <div class="section-content relative">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div>
                                <h2 class="elementor-heading-title">
                                    <span>ĐĂNG KÝ NHẬN TÀI LIỆU</span>
                                </h2>
                                <div role="form" class="wpcf7">
                                    {{ form_start(form, {'attr': {'id': 'form-comment'}}) }}
                                        <div class="form-group">
                                            {{ form_label(form.name) }}
                                            {{ form_errors(form.name) }}
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.email) }}
                                            {{ form_errors(form.email) }}
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.phone) }}
                                            {{ form_errors(form.phone) }}
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="SECTION588" class="ladi-section">
        <div class="container">
            <div id="BOX52" class="ladi-element">
                <h3 class="ladi-headline text-center">
                    <span><strong>GIỚI THIỆU CĂN HỘ OPAL SKYLINE</strong></span>
                </h3>
            </div>
            <div id="LIST_PARAGRAPH54" class="ladi-element">
                <div class="row">
                    <div class="col-md-7">
                        <p><strong>Chủ Đầu Tư</strong>: Công ty cổ phần đầu tư kinh doanh BĐS Hà An</p>
                        <p><strong>Vị trí</strong>: Mặt tiền Nguyễn Văn Tiết, Tp. Thuận An, Bình Dương</p>
                        <p><strong>Đơn vị Thi Công Xây Dựng</strong>: Conteccont</p>
                        <p><strong>TỔNG QUAN:</strong></p>
                        <p>Diện tích toàn khu: <strong>10.204,4 m²</strong></p>
                        <p><strong>QUY MÔ: 24 Căn TMDV và 1.506 Căn Hộ</strong> chia thành 2 khối <strong>A & B</strong>. Thiết kế 1 Hầm thông 2 tháp và Cao 36 Tầng.</p>
                        <br>
                        <p>Căn hộ 1pn: <strong>từ 40,1 m² – 404 Căn</strong></p>
                        <p>Căn hộ 2pn: <strong>từ 60,64 m² – 946 Căn</strong></p>
                        <p>Căn hộ 3pn: <strong>từ 85,62 m² – 156 Căn</strong></p>
                        <br>
                        <p><strong>Khởi Công xây dựng</strong>: Quý I/2020</p>
                        <p><strong>Bàn Giao</strong>: Dự kiến <strong>Quý 4/2022 – </strong>Hoàn Thiện Full Nội thất cơ bản&nbsp;</p>
                        <br>
                        <ul>
                            <li><span style="font-size: 100%;">Sổ Hồng Sở Hữu Lâu Dài —- Người nước ngoài: 50 năm</span></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <img src="{{ asset('assets/images/home/1.jpg') }}" class="attachment-medium size-medium" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION589" class="ladi-section">
        <div class="container">
            <div id="BOX52" class="ladi-element text-center">
                <h3 class="ladi-headline">
                    <span><strong>VỊ TRÍ DỰ ÁN</strong></span>
                </h3>
            </div>
            <div id="LIST_PARAGRAPH54" class="ladi-element">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{ asset('assets/images/home/2.jpg') }}" class="attachment-large size-large" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="col-inner">
                            <h4 class="text-center"><strong>NGAY MẶT TIỀN TUYẾN ĐƯỜNG NỘI ĐÔ ĐẸP NHẤT SÀI GÒN</strong></h4>
                            <p class="text-center"><strong>Opal Skyline</strong> sở hữu “Vị trí Đắc địa” nối 2 thành phố lớn Thủ Dầu Một và Tp. Hồ Chí Minh</p>
                            <p>Dự án căn hộ <strong>Opal SkyLine nằm ngay mặt tiền Nguyễn Văn Tiết</strong> nút giao tại Đại lộ Bình Dương, Cách Thành Phố Hồ Chí Minh 10 km về phía Bắc đi theo Quốc Lộ 13, cách Thủ Dầu Một 8km về hướng Nam. Ngoài ra, chúng ta có thể đi theo cầu Phú Long, nối Opal SkyLine với quận 12. Di chuyển đến TP Dĩ An chỉ 15 phút lái xe. Cư dân Opal SkyLine dễ dàng kết nối với các khu vực khác một cách nhanh chóng và thuận tiện nhờ tuyến Quốc Lộ 13 hiện hữu và mở rộng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION5891" class="ladi-section">
        <div class="container">
            <div id="BOX52" class="ladi-element text-center">
                <h3 class="ladi-headline">
                    <span><strong>MẶT BẰNG OPAL SKYLINE</strong></span>
                </h3>
            </div>
            <div id="LIST_PARAGRAPH54" class="ladi-element">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#block1-tab1">Mặt bằng tổng thể</a></li>
                            <li><a data-toggle="tab" href="#block1-tab2">Block A</a></li>
                            <li><a data-toggle="tab" href="#block1-tab3">Block B</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="block1-tab1" class="tab-pane fade in active">
                                <img src="{{ asset('assets/images/home/mb-1.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                            <div id="block1-tab2" class="tab-pane fade">
                                <img src="{{ asset('assets/images/home/mb-2.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                            <div id="block1-tab3" class="tab-pane fade">
                                <img src="{{ asset('assets/images/home/mb-3.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION5892" class="ladi-section">
        <div class="container">
            <div class="ladi-element text-center">
                <h3 class="ladi-headline">
                    <span><strong>THIẾT KẾ OPAL SKYLINE</strong></span>
                </h3>
            </div>
            <div class="ladi-element">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#block2-tab1">1 phòng ngủ</a></li>
                            <li><a data-toggle="tab" href="#block2-tab2">2 phòng ngủ</a></li>
                            <li><a data-toggle="tab" href="#block2-tab3">3 phòng ngủ</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="block2-tab1" class="tab-pane fade in active">
                                <img src="{{ asset('assets/images/home/pn-1.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                            <div id="block2-tab2" class="tab-pane fade">
                                <img src="{{ asset('assets/images/home/pn-2.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                            <div id="block2-tab3" class="tab-pane fade">
                                <img src="{{ asset('assets/images/home/pn-3.jpg') }}" class="attachment-large size-large" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION47" class="ladi-section container">
        <div class="ladi-element text-center">
            <h3 class="ladi-headline">
                <span><strong>PHƯƠNG THỨC THANH TOÁN</strong></span>
            </h3>
        </div>
        <div class="ladi-container row">
            <div class="ladi-element col-md-12">
                <blockquote>
                    <ul>
                        <li>
                            <span>Booking 50 triệu</span>
                        </li>
                        <li>
                            <span>Chuyển cọc: 50 triệu</span>
                        </li>
                        <li>
                            <span>Phí Dịch Tư Vấn: 100-150-200 triệu/Sản phẩm (Tùy từng loại sản phẩm theo quy định)</span>
                        </li>
                        <li>
                            <span>Hợp đồng mua bán: 20%</span>
                        </li>
                        <li>
                            <span>Thanh toán 3%/tháng</span>
                        </li>
                        <li>
                            <span>Nhận nhà: 95%</span>
                        </li>
                        <li>
                            <span>Bàn giao sổ: 5%</span>
                        </li>
                        <li>
                            <span>Ngân hàng cho vay 70%, 20 năm, lãi suất 0% trong vòng 18 tháng</span>
                        </li>
                    </ul>
                </blockquote>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#pttt1">Phương thức thanh toán 1</a></li>
                    <li><a data-toggle="tab" href="#pttt2">Phương thức thanh toán 2</a></li>
                    <li><a data-toggle="tab" href="#pttt3">Phương thức thanh toán 3</a></li>
                </ul>
                <div class="tab-content">
                    <div id="pttt1" class="tab-pane fade in active">
                        <img src="{{ asset('assets/images/home/tt-1.jpg') }}" class="attachment-large size-large" alt="Phương thức thanh toán">
                    </div>
                    <div id="pttt2" class="tab-pane fade">
                        <img src="{{ asset('assets/images/home/tt-2.jpg') }}" class="attachment-large size-large" alt="Phương thức thanh toán">
                    </div>
                    <div id="pttt3" class="tab-pane fade">
                        <img src="{{ asset('assets/images/home/tt-3.jpg') }}" class="attachment-large size-large" alt="Phương thức thanh toán">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION55" class="ladi-section">
        <div class="ladi-container">
            <div id="HEADLINE58" class="ladi-element text-center">
                <h3 class="ladi-headline">
                    <span>TIỆN ÍCH NGOẠI KHU</span>
                </h3>
            </div>
            <div id="LIST_PARAGRAPH61" class="ladi-element container">
                <div class="col-inner">
                    <p>
                        <span>Căn hộ <strong>Opal Skyline</strong> có vị trí mặt tiền trên <strong>đường Nguyễn Văn Tiết</strong>, vị trí trung tâm của Thành Phố Thuận An, Bình Dương. Tọa lạc đắc địa, cư dân&nbsp; Opal Skyline sẽ được tận hưởng vô vàn các tiện ích công cộng xung quanh tại ngay lòng thành phố mà hiếm có dự án nào sở hữu được.</span>
                    </p>
                    <p>
                        <span>Với lợi thế hệ thống giao thông phát triển, hiện đại, cư dân sinh sống tại đây sẽ được đảm bảo cuộc sống đẳng cấp và tiện nghi. Hàng loạt các tiện ích kết nối nhanh chóng với&nbsp; dự án Opal Skyline có thể kể ra như:</span>
                    </p>
                    <ul>
                        <li>
                            <span>Giao thông: đại lộ Bình Dương,&nbsp;<strong>tuyến Metro số 1</strong>, cao tốc Long Thành – Dầu Giây, bến xe miền Đông.</span>
                        </li>
                        <li>
                            <span>Giáo dục: trường đại học Quốc tế Sài Gòn, trường ĐH Kinh tế – Luật TP.HCM, đại học GTVT TP. HCM, đại học Tài chính – Marketing, đại học Ngân Hàng,…</span>
                        </li>
                        <li>
                            <span>Y tế: bệnh viện Quân Y 175, bệnh viện Quốc tế Mỹ, bệnh viện Vinmec,…</span>
                        </li>
                        <li>
                            <span>Du lịch và thể thao: sân bóng cỏ Cá Sấu Hoa Cà, khu du lịch Văn Thánh, khu du lịch Suối Tiên,…</span>
                        </li>
                        <li>
                            <span>Giải trí – mua sắm: Vincom plaza Thủ Đức, Aeon Bình Dương, Co.op Mart Nguyễn Kiệm, Chợ Thủ Đức, CGV Bình Dương,…</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION153" class="ladi-section">
        <div class="ladi-container">
            <div id="IMAGE266" class="ladi-element">
                <div class="ladi-image">
                    <div class="ladi-image-background">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-1.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-2.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-3.jpg') }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-4.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-5.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tink-6.jpg') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION173" class="ladi-section">
        <div class="ladi-container">
            <div id="HEADLINE177" class="ladi-element container text-center">
                <h3 class="ladi-headline">
                    <span>TIỆN ÍCH NỘI KHU</span>
                </h3>
            </div>
            <div id="PARAGRAPH406" class="ladi-element">
                <div class="container">
                    <p><img src="{{ asset('assets/images/home/tink-7.jpg') }}"></p>
                    <br>
                    <p><strong>Tiện ích căn hộ Opal Skyline</strong> với mong muốn mang đến cho cư dân Opal Skyline chất lượng sống tốt nhất, tiện nghi nhất. Chủ đầu tư Đất Xanh Group trang bị cho&nbsp;<strong>Chung cư Opal Skyline</strong>&nbsp;với hơn 20 tiện ích nội khu sang trọng và hiện đại theo tiêu chuẩn quốc tế cũng như thể hiện đẳng cấp và vị thế của mình so với các<strong>&nbsp;Chung cư Bình Dương</strong>&nbsp;khác. . Một số tiện ích nổi bật được kể đến như:</p>
                    <br>
                </div>
                <div class="ladi-image">
                    <div class="ladi-image-background">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-1.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-2.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-3.jpg') }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-4.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-5.jpg') }}">
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <img src="{{ asset('assets/images/home/tienichnoikhu-6.jpg') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="SECTION285" class="ladi-section">
        <div class="ladi-container">
            <div id="HEADLINE177" class="ladi-element container text-center">
                <h3 class="ladi-headline">
                    <span>NHỮNG LÝ DO NÊN CHỌN MUA OPAL SKYLINE</span>
                </h3>
            </div>
            <div class="wrapper-container-item why-choose-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fa fa-globe"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Căn hộ Opal Skyline tọa lạc tại vị trí trung tâm thành phố Thuận An và có thể tận hưởng tất cả các dịch vụ cao cấp nhất khu vực</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fa fa-balance-scale"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Tiềm năng tăng giá mạnh khi thuận An vừa lên Thành phố loại 3, cơ sở hạ tầng được đầu tư liên tục</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fas fa-users"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Nằm ngay các khu đô thị lớn khác của Thuận An như Eco Xuân, The Season…với các cụm tiện ích được đầu tư bài bản</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fas fa-gem"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Kết nối giao thông thuận tiện thông qua Quốc Lộ 13</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fas fa-lightbulb"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>25+ tiện ích nội khu cao cấp cùng hàng loạt tiện ích ngoại khu hiện hữu: Aeon Mall, Lotte Mart, Bệnh viện Becamex…</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fa fa-bullhorn"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Vật liệu xây dựng cao cấp – Bàn giao nhà hoàn thiện chất lượng vượt trội</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fas fa-gem"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Thiết kế tối ưu đa dạng 1-2-3 phòng ngủ, diện tích nhỏ phù hợp</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fas fa-lightbulb"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Đầu tư và phát triển bởi Đất Xanh Group, ông lớn trong ngành bất động sản</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="media">
                                <div class="media-left">
                                    <span><i class="fa fa-bullhorn"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="marketing-container">
                                        <p>Giá gốc chủ đầu tư chỉ 1 tỷ/căn. Thanh toán 200 triệu sở hữu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="footer">
        <div class="footer-background">
        </div>
        
        <div class="ladi-overlay"></div>

        <div class="ladi-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-left">
                        <h2>TẬP ĐOÀN ĐẤT XANH</h2>
                        <div class="footer-left-item">
                            <p class="footer-left-item-cl"><i class="fas fa-map-marker-alt"> </i>Địa chỉ TP Hồ Chí Minh:</p>
                            <p>2W Ung Văn Khiêm, Phường 25, Quận Bình Thạnh</p>
                        </div>
                        <div class="footer-left-item">
                            <p class="footer-left-item-cl"><i class="fas fa-map-marker-alt"></i> Vị trí dự án:</p>
                            <p>Nguyễn Văn Tiết, Lái Thiêu, Bình Dương</p>
                        </div>
                    </div>
                    <div class="col-md-4 footer-center">
                        <img src="{{ asset('assets/images/logo-dat-xanh-group.png') }}" >
                    </div>
                    <div class="col-md-4 footer-right">
                        <div class="footer-left-item">
                            <p class="footer-left-item-cl"><i class="fa fa-phone"></i> Hotline: <a href="tel:0943613039">0943613039</a></p>
                        </div>
                        <div class="footer-left-item">
                            <p class="footer-left-item-cl"><i class="far fa-envelope"></i> Email: <a href="mailto:minhland.co@gmail.com">minhland.co@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="td-scroll-up go-to-top td-scroll-up-visible hidden">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>

    <ul class="giuseart-pc-contact-bar">
        <li class="facebook">
            <a href="https://m.me/100008968184895" target="_blank" rel="nofollow"></a>
        </li>
        <li class="zalo">
            <a href="https://zalo.me/0943613039" target="_blank" rel="nofollow"></a>
        </li>
    </ul>

    <div class="hotline">
        <div class="inner">
            <a href="tel:0943613039 "><div class="phonering-alo-ph-img-circle"></div>0943613039</a>
        </div>
    </div>
</div>

{% endblock %}