{% extends 'layout.html.twig' %}

{% block structuredOrganization %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://xaydungkimanh.com/",
        "logo": "https://xaydungkimanh.com/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+84 974776305",
            "contactType": "customer service"
        }
    }
    </script>
{% endblock %}

{% block structuredWebSite %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://xaydungkimanh.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://xaydungkimanh.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
{% endblock %}

{% block structuredPerson %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Xây Dựng Kim Anh",
        "url": "https://xaydungkimanh.com/",
        "sameAs": [
            "https://www.facebook.com/xaydungkimanh/",
            "https://twitter.com/xaydungkimanh",
            "https://www.linkedin.com/in/xaydungkimanh/",
            "https://www.youtube.com/channel/UCwYmkaoSIRgpZo2Us4FzleQ"
        ]
    }
    </script>
{% endblock %}

{% block body %}
    <div class="wrapper-container">
        <div class="wrapper-container-item slogin">
            <div class="container slogin-title">
                <div class="row">
                    <div class="col-12 col-md-10"><p>Bạn đang muốn thi công dự án xây dựng? Hãy liên hệ ngay với chúng tôi để được tư vấn miễn phí!</p></div>
                    <div class="col-12 col-md-2 text-right"><a href="tel:0974776305"> <i class="fas fa-mobile-alt" aria-hidden="true"></i> 0974776305</a></div>
                </div>
            </div>
        </div>

        <div class="wrapper-container-item prices-table">
            <div class="container">
                <div class="row marketing">
                    {% for priceOnHomepage in blockPricesOnHomepage %}
                        <div class="col-md-3 col-sm-3">
                            <div class="intro">
                                <div class="img">
                                    <div class="mid-img">
                                        <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}">
                                            <div class="center-img">
                                                <img
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                    alt="{{ priceOnHomepage.getTitle() }}"
                                                    class="img-responsive lazyload"
                                                    data-src="{{ (vich_uploader_asset(priceOnHomepage, 'imageFile') ? vich_uploader_asset(priceOnHomepage, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_218_218') }}" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="text">
                                    <a href="{{ path('news_show', {'slug': priceOnHomepage.getUrl() }) }}" title="{{ priceOnHomepage.getTitle() }}">{{ priceOnHomepage.getTitle() }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="wrapper-container-item why-choose-us">
            <div class="container">
                <div class="row">
                    <h2 class="text-center text-uppercase why-choose-us-title">Tại sao chọn chúng tôi</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-globe"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Báo giá miễn phí, tận nơi</h2>
                                <div class="marketing-container">
                                    <p>Báo giá xây dựng nhà phố, biệt thự, sửa chữa nhà miễn phí, nhanh chóng, tận nơi, làm việc 24/7</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-balance-scale"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Giá cả hợp lý, cạnh tranh</h2>
                                <div class="marketing-container">
                                    <p>Bảng báo giá xây dựng nhà, sửa chữa nhà của chúng tôi hợp lý, rõ ràng từng vấn đề, cạnh tranh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-users"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Đội ngũ chuyên nghiệp</h2>
                                <div class="marketing-container">
                                    <p>Bạn sẽ được làm việc cùng đội ngũ kiến trúc sư, kĩ sư, tổ thợ chuyên nghiệp, nhiều kinh nghiệm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fas fa-gem"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Cam kết bảo hành</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi luôn cam kết bảo hành công trình thi công lâu dài, đồng hành cùng quý khách hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-lightbulb-o"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Sáng tạo trong thiết kế</h2>
                                <div class="marketing-container">
                                    <p>Những kỹ sư thiết kế về kiến trúc và nội thất có kinh nghiệm sẽ đưa đến những ý tưởng sáng tạo cho ngôi nhà của bạn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <span><i class="fa fa-bullhorn"></i></span>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading text-uppercase">Không phát sinh phí</h2>
                                <div class="marketing-container">
                                    <p>Chúng tôi cam kết đến toàn thể quý khách hàng không phát sinh phí trong quá trình xây dựng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for blockOnHomepage in blocksOnHomepage %}
            {% if blockOnHomepage.category.getId() != 8 and blockOnHomepage.category.getId() != 7 and blockOnHomepage.category.getId() != 6 %}
                <div class="wrapper-container-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 title-list-news-items">
                                <h1 class="text-center text-uppercase">
                                    <img alt="{{ blockOnHomepage.category.getName() }}" src="{{ asset('assets/images/icon-logo.png') }}" />
                                    <span>Kim </span> Anh <i class="fas fa-angle-right"></i> 
                                    {{ blockOnHomepage.category.getName() }}
                                </h1>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="col-md-12 list-news-items">
                                <div class="row">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridHomepage.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="wrapper-container-item project-hot">
                    <div class="container">
                        <div class="row project-hot">
                            <div class="col-md-12 title-list-news-items">
                                <h1 class="text-center text-uppercase">
                                    <img alt="{{ blockOnHomepage.category.getName() }}" src="{{ asset('assets/images/icon-logo.png') }}" />
                                    <span>Kim </span> Anh <i class="fas fa-angle-right"></i> 
                                    {{ blockOnHomepage.category.getName() }}
                                </h1>
                                <p>{{ blockOnHomepage.description }}</p>
                            </div>

                            <div class="clearfix"></div>

                            <div class="list-news-items">
                                <div class="bxslider">
                                    {% for row in blockOnHomepage.posts %}
                                        {{ include('news/components/itemsGridSlide.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="wrapper-container-item y-kien-khach-hang">
            <div class="container">
                <div class="row">
                    <h2 class="text-center text-uppercase">Khách hàng đánh giá về Xây Dựng Kim Anh</h2>
                </div>
                <div class="row media-wrapper">
                    <div class="media">
                        <div class="youtube-video-place embed-responsive embed-responsive-4by3" data-yt-url="https://www.youtube.com/embed/qZHPIqGX7pA?rel=0&showinfo=0&autoplay=1">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="https://img.youtube.com/vi/qZHPIqGX7pA/hqdefault.jpg"
                                async
                                class="play-youtube-video lazyload"
                                alt="Ý kiến khách hàng về Xây Dựng Kim Anh">
                        </div>
                    </div>
                    <div class="media">
                        <div class="youtube-video-place embed-responsive embed-responsive-4by3" data-yt-url="https://www.youtube.com/embed/Jw70fD5eZp4?rel=0&showinfo=0&autoplay=1">
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="https://img.youtube.com/vi/Jw70fD5eZp4/hqdefault.jpg"
                                async
                                class="play-youtube-video lazyload"
                                alt="Ý kiến khách hàng về Xây Dựng Kim Anh">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}