<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

        <!-- dns prefetch -->
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel="dns-prefetch" href="//facebook.com/">
        <link rel="dns-prefetch" href="//www.google-analytics.com/">
        <link rel="dns-prefetch" href="//www.youtube.com/">
        <link rel="dns-prefetch" href="//s7.addthis.com/">
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/" >

        <!-- https://realfavicongenerator.net -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel='icon' href='{{ asset('favicon.ico') }}' type='image/x-icon'/ >
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}{{ get_setting('pageTitle') }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ get_setting('pageDescription') }}{% endblock %}">
        <meta name="keywords" content="{% block keyword %}{{ get_setting('pageKeyword') }}{% endblock %}">
        
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days">
        <meta name="google" content="notranslate" />
        <meta http-equiv="content-language" content="vi">

        {% if app.request.attributes.get('_route') is not null %}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
        {% endif %}
        
        <!-- Open Graph data -->
        <meta property="og:locale" content="vi_VN" />
        {% block structuredOpenGraph %}
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{{ block('title') }}" />
            <meta property="og:description" content="{{ block('description') }}" />
        {% endblock %}
        {% if app.request.attributes.get('_route') is not null %}
            <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {% endif %}
        <meta property="og:site_name" content="{{ get_setting('siteName') }}" />
        <meta property="fb:app_id" content="1384538691837107" />
        <!-- Open Graph data -->

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@xaydungkimanh">
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:creator" content="@xaydungkimanh">
        {% block twitterImage %}
        {% endblock %}
        <!-- Twitter Card data -->

        {% block structuredOrganization %}
        {% endblock %}

        {% block structuredWebSite %}
        {% endblock %}

        {% block structuredPerson %}
        {% endblock %}

        {% block structuredReview %}
        {% endblock %}

        {{ get_setting('googleAnalytic')|raw }}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W23BJ8Q');</script>
        <!-- End Google Tag Manager -->

        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '231135361334593');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=231135361334593&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Custom css -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid wrapper">
            {{ include('layout/header.html.twig') }}
            {{ include('layout/menu.html.twig') }}
            {{ include('layout/slide.html.twig') }}

            {% block body %}{% endblock %}

            {{ include('layout/footer.html.twig') }}
            {{ include('layout/footer_UI.html.twig') }}

            {{ get_setting('facebookMessenger')|raw }}

            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W23BJ8Q"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        </div>
    </body>
</html>
