<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- https://realfavicongenerator.net -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel='icon' href='{{ asset('favicon.ico') }}' type='image/x-icon'/ >
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}{{ get_setting('pageTitle') }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ get_setting('pageDescription') }}{% endblock %}">
        <meta name="keywords" content="{% block keyword %}{{ get_setting('pageKeyword') }}{% endblock %}">
        
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days">
        <meta name="google" content="notranslate" />
        <meta http-equiv="content-language" content="vi">

        {{ get_setting('googleAnalytic')|raw }}

        <!-- Custom css -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <style type="text/css">
            {{ source('@web/css/app.css', ignore_missing = true) }}
        </style>
    </head>
    <body>
        <div class="container-fluid wrapper">
            {% block body %}{% endblock %}

            {{ include('layout/footer_UI.html.twig') }}

            {{ get_setting('facebookMessenger')|raw }}
        </div>
    </body>
</html>
