<div class="rating-container">
    {{ ratingValue|rating }}
    <a href="form-rating-container" id="rating">
        <div>
            {% if rating > 0 %}
                <span>{{ rating }}</span> ({{ ratingPercent }}%) / <span>{{ ratingCount }}</span> votes
            {% else %}
                <span>đánh giá</span>
            {% endif %}
        </div>
    </a>
</div>

<div style="display:none">
    <div id="form-rating-container">
        <form action="{{ path('rating') }}" id="form-rating-review" data-news-id="{{ post.getId() }}">
            {{ form_widget(formRating.rating) }}
        </form>
        <p class="rating-message"></p>
    </div>
</div>