<!-- Begin footer -->
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Xây Dựng Kim Anh</h3>
                <ul class="footer-company">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>49M HT44, KP 3, P. Hiệp Thành, Quận 12, TP.HCM</span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>0974.776.305</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        <span>xaydungkimanh@gmail.com</span>
                    </li>
                    <li>
                        <i class="fa fa-internet-explorer"></i>
                        <span>www.xaydungkimanh.com</span>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Dịch vụ</h3>
                <ul class="about-us">
                    <li>
                        <a href="{{ path('news_show', {'slug': 'bao-gia-xay-nha-tron-goi' }) }}" title="Xây nhà">Xây nhà</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', {'slug': 'bao-gia-sua-nha-tron-goi' }) }}" title="Sửa chữa nhà">Sửa chữa nhà</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', {'slug': 'bang-gia-xay-dung-nha-phan-tho' }) }}" title="Thiết kế nhà">Thiết kế nhà</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', {'slug': 'bao-gia-nhan-cong' }) }}" title="Xây nhà nhân công">Xây nhà nhân công</a>
                    </li>
                    <li>
                        <a href="{{ path('news_show', {'slug': 'bao-gia-thiet-ke-nha-pho' }) }}" title="Tư vấn xây dựng">Tư vấn xây dựng</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Từ khóa</h3>
                {{ get_setting('topKeyword')|raw }}
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <h3 class="text-uppercase">Fanpage</h3>
                <div>
                    <div class="fb-page" data-href="https://www.facebook.com/xaydungkimanh/" data-tabs="timeline" data-width="277" data-height="277" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/xaydungkimanh/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/xaydungkimanh/">Xây Nhà, Sửa Chữa Nhà Kim Anh</a></blockquote></div>
                </div>
            </div>
        </div>
        <div class="row footer-middle">
            <div class="col-12 col-md-12 col-lg-12">
                <img src="{{ asset('assets/images/logo.png') }}" alt="{{ get_setting('siteName') }}" />
                <div class="footer-text-wrap  text-center">
                    <p>Xây Dựng Kim Anh : Công ty, nhà thầu xây dựng chuyên thi công xây dựng nhà phố, biệt thự, sửa chữa nhà uy tín và chất lượng tại Thành phố Hồ Chí Minh. Chúng tôi luôn mang đến sự hài lòng đến toàn thể quý khách hàng đã tin tưởng đến công ty. Công ty chúng tôi rất hân hạnh khi được làm việc với toàn thể quý khách hàng đã tin tưởng chúng tôi.</p>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-12 text-center">
                <p>Copyright © {{ "now"|date('Y') }} <a href="https://xaydungkimanh.com" title="Xây Dựng Kim Anh">Xây Dựng Kim Anh</a>, all rights reserved.</p>
            </div>
        </div>
    </div>

    {{ include('layout/hotline.html.twig') }}
</footer>
<!-- End footer -->