<!-- Begin header -->
<div class="wrapper-container header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 text-left">
                <span>
                    <i class="fa fa-phone"></i>
                    <a href="tel:0974776305">0974.776.305</a>
                </span>
                <span>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:xaydungkimanh@gmail.com">xaydungkimanh@gmail.com</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Kim Anh trên Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Xây Dựng Kim Anh trên Google plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Kim Anh trên Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Kim Anh trên Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Kim Anh trên Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-container banner">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="logo_top">
                <div id="logo">								
                    <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                        <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-top">
                    <div class="wp90">
                        <div class="info-nd">
                            <p class="tel text-uppercase">CÔNG TY TNHH TƯ VẤN THIẾT KẾ XÂY DỰNG KIM ANH</p>
                            <p><span><u>Địa chỉ:</u></span> 50I Trần Thị Bảy, Khu Phố 3, P. Hiệp Thành, Q.12, TP. HCM</p>
                            <p><span><u>Email:</u></span> xaydungkimanh@gmail.com - <span><u>Website:</u></span> www.xaydungkimanh.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="info-top hotline-top">
                    <div class="wp90 pull-right">
                        <div class="info-nd">
                            <p class="tel text-uppercase"><i class="fas fa-mobile-alt"></i> <a href="tel:0974776305">0974776305</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header -->