<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 marquee">
                <marquee scrollamount="7">Xây Dựng Kim Anh: <span>Miễn phí 100% chi phí thiết kế</span> khi ký hợp đồng thi công xây nhà phần thô. <span>Miễn phí 100% chi phí thiết kế</span>, bao giấy phép khi xây nhà trọn gói. <span>Giảm từ 80% - 100% chi phí thiết kế</span> khi sửa nhà trọn gói. Hotline: 0974.776.305 (Mr Tuấn)</marquee>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <div class="skew-divider"></div>
                <div class="header-social-wrapper">
                    <span class="text-left">
                        <i class="fas fa-phone"></i>
                        <a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a>
                    </span>
                    <span class="text-left">
                        <i class="fas fa-phone"></i>
                        <a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                    </span>
                    <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Kim Anh trên Facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Xây Dựng Kim Anh trên Google plus">
                        <i class="fab fa-google-plus"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Kim Anh trên Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Kim Anh trên Youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Kim Anh trên Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_mobile() == false and is_tablet() == false %}
    <div class="wrapper-container banner d-none hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-4" id="logo_top">
                    <div id="logo">								
                        <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                            <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-top">
                        <div class="wp90">
                            <div class="info-nd" id="output">
                                <p class="tel text-uppercase" id="header-company"></p>
                                <p class="text-uppercase" id="header-address"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="info-top hotline-top">
                        <div class="wp90 pull-right">
                            <div class="info-nd">
                                <p class="tel text-uppercase"><i class="fas fa-mobile-alt"></i> <a href="tel:0974776305">0974776305</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End header -->