<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 marquee">
                {{ get_setting('marqueeHomepage')|raw }}
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <div class="skew-divider"></div>
                <div class="header-social-wrapper">
                    <span class="text-left">
                        <i class="fas fa-phone"></i>
                        <a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a>
                    </span>
                    <span class="text-left">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                    </span>
                    <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="{{ get_setting('siteName') }} trên Facebook" rel="noreferrer">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="{{ get_setting('siteName') }} trên Twitter" rel="noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="{{ get_setting('siteName') }} trên Youtube" rel="noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="{{ get_setting('siteName') }} trên Linkedin" rel="noreferrer">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% if is_mobile() == false and is_tablet() == false %}
    <div class="wrapper-container banner d-none hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="logo_top">
                    <div id="logo">								
                        <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                            <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-top">
                        <div class="wp10">
                            <span><i class="fas fa-mobile-alt"></i></span>
                        </div>
                        <div class="wp90">
                            <div class="info-nd">
                                <p class="tel text-uppercase">{{ get_setting('siteName') }}</p>
                                <p>ĐT: {{ get_setting('hotLine1') }} - Hotline: {{ get_setting('hotLine2') }}</p>
                                <p>Email: {{ get_setting('emailContact') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info-top">
                        <div class="wp10">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="wp90">
                            <div class="info-nd">
                                <p class="tel text-uppercase">VĂN PHÒNG GIAO DỊCH</p>
                                <p>CN: {{ get_setting('companyAddress') }}</p>
                                <p>Website: {{ get_setting('website') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- End header -->