{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/contact.css') }}" rel="preload stylesheet" as="style" onload="this.rel='stylesheet'" >
    <noscript><link rel="stylesheet" href="{{ asset('build/css/contact.css') }}" ></noscript>
{% endblock %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}



{% block body %}
    <div class="container contacts page-detail">
        <div class="row">
            {{ include('layout/sidebar.html.twig') }}

            <div class="col-xs-12 col-sm-12 col-md-9">
                {{ include('news/components/breadcrumbs.html.twig') }}

                <div class="company">
                    <h3 class="text-uppercase">{{ get_setting('siteName') }}</h3>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker"></i>
                            <span><strong>VPGD: {{ get_setting('companyAddress') }}</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i>
                            <span><strong>{{ get_setting('hotLine1') }}</strong></span>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <span><strong>{{ get_setting('emailContact') }}</strong></span>
                        </li>
                        <li>
                            <i class="fab fa-internet-explorer"></i>
                            <span><strong>{{ get_setting('website') }}</strong></span>
                        </li>
                    </ul>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8538871830656!2d106.63851953418882!3d10.822491645525623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752965b8f0c037%3A0x84c6efa6e50825b3!2zMTUwIFBo4bqhbSBWxINuIELhuqFjaCwgUGjGsOG7nW5nIDE1LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1598849284292!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}